doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title Manager | Karibu Grocery Limited
    meta(content='', name='description')
    meta(content='', name='keywords')
    // Favicon
    link(href='/images/favicon-32x32.png', rel='icon')
    // Google Fonts

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i', rel='stylesheet')
    
    // Vendor CSS Files
    link(href='/animate.css/animate.min.css', rel='stylesheet')
    link(href='/aos/aos.css', rel='stylesheet')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap-icons/bootstrap-icons.css', rel='stylesheet')
    link(href='/boxicons/css/boxicons.min.css', rel='stylesheet')
    link(href='/glightbox/css/glightbox.min.css', rel='stylesheet')
    link(href='/remixicon/remixicon.css', rel='stylesheet')
    link(href='/swiper/swiper-bundle.min.css', rel='stylesheet')

    // Main CSS File
    link(href='/css/login.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body

    // ======= Header =======
    header#header.fixed-top.d-flex.align-items-center
      .container.d-flex.align-items-center.justify-content-between
        .logo
          a(href='#')
            img(src='/images/logo.png')

          
        h2.companyname
          | Karibu Grocery Limited
          strong  | Procurement Portal 
        nav#navbar.navbar
          ul

            li
              a.nav-link.btn(href='/procurement') Enter Produce
            li
              a.nav-link.btn(href='/sales') Enter Sales
            li
              a.nav-link.btn(href='/credit') Credit Client
            li
              a.nav-link.btn(href='/logout') Logout
            i.bi.bi-list.mobile-nav-toggle
        
    // End Header
   
    main#main

      
      // ======= Breadcrumbs =======
      section#breadcrumbs.breadcrumbs
        .container
          .d-flex.justify-content-between.align-items-center
            // <h2 class="companyname"> Karibu Grocery Limited<strong> | Business Portal </strong></h2>

            h4 Produce Procurement
      // End Breadcrumbs
      .container
        .col-lg-8         
          form(action='/procurement', method='POST')
            .row 
              .col 
                h3.loginheader Enter produce details below and click save
            .row              
              .col-lg-6
                input(type='text', name='producename', placeholder='Produce name', onblur='produceNameVal(3, this, errormessage)')
                br
                span#errormessage 
              .col-lg-6
                select(id="type", name='type' onblur='produceType(errortype)', required="")
                  option(value='select', name='default' placeholder='Select role') Select Produce type
                  option(value='agent', name='cereal') Cereal 
                  option(value='manager', name='grains') Grains
                span#errortype
            .row 
              .col.lg-6 
                input(type='date', name='datetime', placeholder='Date & time')
              .col-lg-6 
                input(type='number', name='tonnage', placeholder='Tonnage in KGS' onblur='tonnageVal(2, this, errortonnage)')
                br
                span#errortonnage
            .row
              .col-lg-6 
                input(type='number', name='cost', placeholder='Buying Price',  onblur='priceVal(5, this, errorprice)')
                br
                span#errorprice

              .col-lg-6
                input(type='text', name='dealearname', placeholder='Dealers Name', onblur='dealerName(3, this, errordealer)')
                span#errordealer
            .row              
              .col-lg-6
                 select(name='branch')
                  option(value='select', name='default' placeholder='Select role') Select Branch
                  option(value='branch', name='matugga') Matuga 
                  option(value='branch', name='maganjo') Maganjo
              .col-lg-6
                input(type='text', name='contact', placeholder='Phone', onblur='phoneVal(10, this, errorphone)')
                br
                span#errorphone
            .row
              .col-lg-6
                input(type='number', name='sellingprice', placeholder='Selling price', onblur='sellingVal(5, this, errorselling)')
                br
                span#errorselling
              .col-lg-6
                button(type='submit') SAVE
    hr
    footer#footer
      .container
        h3(style='color:#80C41C') Karibu Grocery Limited
        .copyright
          | &copy; Copyright 
          strong
            span Karibu Grocery Limited
          | . All Rights Reserved. Designed by 
          a(href='#') Fredrick Okori
    // End Footer
    
    a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short
      // ======= Footer =======
      a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
        i.bi.bi-arrow-up-short
      // Vendor JS Files
      script(src='/aos/aos.js')
      script(src='/bootstrap/js/bootstrap.bundle.min.js')
      script(src='/glightbox/js/glightbox.min.js')
      script(src='/isotope-layout/isotope.pkgd.min.js')
      script(src='/swiper/swiper-bundle.min.js')
      script(src='/php-email-form/validate.js')

      // Template Main JS File
      script(src='/js/main.js')
      script(src='/formVal/account.js')